<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
    	<ul>
    		<li id='logo'></li>
    	</ul>
      <ul class="right hide-on-med-and-down">
      	<li><a href="#/">Home</a></li>
      	<li><a href="#/about">About</a></li>
        <li><a href="#/dashboard">Profile</a></li>
        <li><a href="#/spot/new">Rent out your spot</a></li>
        <li><a href="#/spots">Reserve Location</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<h5 class='right-align'> <pre>{{dash_user.f_name}}   </pre>    </h5>


  <div id='parent_div_1'>
    <div class ='child_div_1'>
      <div class="container">
        <div class="row">
          <div class="col s11 m12 offset-m0">
            <div class="card">
    

            <div class="card-content">
              <h5>About Us</h5>
            </div>
            <div class="card-action">
              Our app and website allow drivers to find, reserve and pay for parking seamlessly in San Francisco.
            </div>

            <div class="card-content">
              <h5>Terms and Conditions</h5>
            </div>
            <div class="card-action">
             
            </div>
            
            </div> <!-- card -->
          </div> <!-- col s11 m12 offset-m0 -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- child_div_1 -->
  </div> <!-- parent_div_1 -->