<nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container">
    	<ul>
    		<li id='logo'></li>
    	</ul>
      <ul class="right hide-on-med-and-down">
      	<li><a href="#/">Home</a></li>
      	<li><a href="#/about">About</a></li>
        <li><a href="#/dashboard">Profile</a></li>
        <li><a href="#/spot/new">Rent out your spot</a></li>
        <li><a href="#/spots">Reserve Location</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<h5 class='right-align'> <pre>{{dash_user.f_name}}   </pre>    </h5>
<div class = "height">

  <div id='parent_div_1'>
    <div class ='child_div_1'>
      <div class="container">
        <div class="row">
          <div class="col s11 m12 offset-m0">
            <div class="card">
    

            <div class="card-content">
              <h5>About Us</h5>
            </div>
            <div class="card-action">
              Our app and website allow drivers to find, reserve and pay for parking seamlessly in San Francisco. 
              park@Ease is rethinking parking for the 21st century. By unlocking underused spaces, we provide cheaper, more convenient parking.

              Our app and website allow drivers to find, reserve and pay for parking seamlessly - wherever and whenever they need it, either in advance or on-the-go. 

              Own or manage a car park, parking space or empty land? We’ll help you to maximise returns from your assets.

              Looking for cheap parking around city centres, airports and events? We’ll save you time, money and hassle.
              Find out how you can benefit - and join the parking revolution today.
            </div>

            <div class="card-content">
              <h5>Terms and Conditions</h5>
            </div>
            <div class="card-action">
             The website park@Ease.com ("the Site") is a parking space rental agency which allows you to book parking spaces anywhere in the SF.
The Site is operated by park@Ease Limited and membership is open to any individual who chooses to register with the site.
These terms will apply to anyone who views or uses the Site.
Whether you register or not you will be bound by these terms and conditions in full and you also agree to be bound by the terms of our Privacy policy which explains the use we are authorised to make of your personal information.
These Terms and Conditions relate to your passive use of the Site, if you wish to book a parking space through the Site you will also need to enter into a Parking Space License Agreement with the parking space owner and you will be bound by our Driver Agreement.
If you are a parking space owner and you wish to rent your parking space with us you will be bound by our Parking Space Owner agreement.
Please note that these terms and conditions may be amended from time to time. Notification of any changes will be made by posting new terms onto the Site. In continuing to use the Site you confirm that you accept the then current terms and conditions in full at the time you use the Site.
            </div>
            
            </div> <!-- card -->
          </div> <!-- col s11 m12 offset-m0 -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- child_div_1 -->
  </div> <!-- parent_div_1 -->
  </div> <!-- height -->


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">park@Ease is an app that provides the users with live updates on the
available parking spots in the area of their interest.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#/about">About Us</a></li>
            <li><a class="white-text" href="#/dashboard">Profile</a></li>
            <li><a class="white-text" href="#/spot/new">Rent your spot</a></li>
            <li><a class="white-text" href="#/spots">Reserve Location</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#/">Home</a></li>
            <li><a class="white-text" href="#!">Email</a></li>
            <li><a class="white-text" href="#!">Phone</a></li>
           
          </ul>
        </div>
      </div>
    </div>


    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">park@ease</a>
      </div>
    </div>

  </footer>