<nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container">
    	<ul>
    		<li id='logo'></li>
    	</ul>
      <ul class="right hide-on-med-and-down">
      	<li><a href="#/">Home</a></li>
      	<li><a href="#/about">About</a></li>
      	<li><a href="#/dashboard">Profile</a></li>
        <li><a href="#/spot/new">Rent out your spot</a></li>
        <li><a href="#/spots">Reserve Location</a></li>
        <!-- <li><a href="#/spots">Update your profile</a></li> -->
        <li><a href="/logout">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<h5 class='left-align'> <pre>          {{dash_user.f_name}} {{dash_user.l_name}}</pre>    </h5>

<!-- <div class="right-align">
  <a class="btn"  href="">Update your profile</a>
</div> -->

<!-- <div class="row">
      <div class="col s1"></div> -->
      <!-- <div class="col s2"></div> -->
      <!-- <div class="col s3"></div> -->
  <!--   <div class="col s2">  <h6> {{dash_user.f_name}} {{dash_user.l_name}}</h6> </div> 
</div> -->

  
          
          

<!-- <div>
    <h5 class="left-align"> {{dash_user.f_name}} {{dash_user.l_name}}</h5>
  </div> -->

<div class="height">
<br><br>
<div class="bookings">
      <h5> Bookings made: </h5>  
      <p>{{dash_user._rent_spots.length}}  </p>     
      
</div>



<br><br>
<div class="bookings">

     <h5> Bookings Received: </h5>   
     <p>{{dash_user._spots.length}}</p> 
  
</div>




<!-- {{log_get_user()}} {{dash_user.l_name}}  -->


<!-- {{dash_user}} -->
</div>

<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">park@Ease is an app that provides the users with live updates on the
available parking spots in the area of their interest.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#/about">About Us</a></li>
            <li><a class="white-text" href="#/dashboard">Profile</a></li>
            <li><a class="white-text" href="#/spot/new">Rent your spot</a></li>
            <li><a class="white-text" href="#/spots">Reserve Location</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#/">Home</a></li>
            <li><a class="white-text" href="#!">Email</a></li>
            <li><a class="white-text" href="#!">Phone</a></li>
           
          </ul>
        </div>
      </div>
    </div>


    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">park@ease</a>
      </div>
    </div>

  </footer>

