<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title> -->

  <!-- CSS  -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body> -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">smartPark</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://34.211.29.202/#/about">About Us</a></li>
        <li><a href="http://34.211.29.202/#/sign_up">Sign Up</a></li>
        <li><a href="http://34.211.29.202/#/log_in">Log In</a></li>
        <li><a href="/logout">Log Out</a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Say Yes to Parking Spot</h1>
        <div class="row center">
          <h5 class="header col s12 light">With smartPark, pay less and park fast, in a private parking spot </h5>
        </div>
        <div class="row center">
          <a href="http://34.211.29.202/#/sign_up" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <!-- <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div> -->
    <div class="parallax" id='background1'>  </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Convenience</h5>

            <p class="light">Need a parking spot, book from anywhere at anytime,all it needs is a tap on your phone</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Earn Money</h5>

            <p class="light">Your driveway is ever empty, earn passive income by renting it out.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Community</h5>

            <p class="light">Help the parking crunch in your neighbourhood by supporting a sharing marketplace</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Parking is Hard. We are here to help</h5>
        </div>
      </div>
    </div>
    <!-- <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div> -->
    <div class="parallax" id='background2'></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">
           
          <address>

          	Address: ITU, San Jose, CA, USA <br>
          	Phone: 1234567890 <br>
          	Email: itu@smartpark.com <br>
          </address>
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Happy Parking</h5>
        </div>
      </div>
    </div>
   <!--  <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div> -->
   <div class="parallax" id='background3'></div>
  </div>




<div id='parent_div_1'>
  <div class ='child_div_1'>
    <div class="container">
        <div class="row">
      

      <!--   <div class="col s11 m6 offset-m0">
          <div class="card">

          </div>
        </div> -->



          <div class="col s11 m12 offset-m0">
              <div class="card">
                <div class="card-content">
                  <h5> SIGN UP TO PARK OR SHARE </h5>
                    <form>
                      <div class="row">
                    

                          <div class="input-field col s12">
                          <div class="error">{{error.message}}</div> 
                         
                            <input placeholder="First Name" id="firstname" type="text" class="validate" ng-model='user.f_name' name="name">
                            <div class="error"> {{error.first}}</div> 
                            <label for="firstname" class="active"></label>
                          </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="Last Name" id="lastname" type="text" class="validate" ng-model='user.l_name'>
                         <div class="error">{{error.last}}</div> 
                          <label for="lastname" class="active"></label>
                        </div>
                      </div>
                        <div class="row">
                        
                      </div>
                       <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="Email" id="email" type="text" class="validate" ng-model='user.email'>
                          <div class="error">{{error.email}}</div>
                          <div class="error">{{log_get_error()}}</div> 
                          <label for="email" class="active"></label>
                        </div>
                      </div>
                        <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="Password" id="password" type="password" class="validate"   ng-model='user.password'>
                         <div class="error">{{error.password}}</div>
                          <label for="password" class="active"></label>
                        </div>
                      </div>
                        <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="Confirm Password" id="confirm_password" type="password" class="validate" ng-model='user.confirm_password'>
                        <div class="error"> {{error.confirm_password}}</div>
                          <label for="confirm_password" class="active"></label>
                        </div>
                      </div>
                       <input type="submit"  value="Sign Up" ng-click='register_user()'>
                    </form>
                </div>
                <div class="card-action">
                 
                   <p>Already have an account? 
                  <a href="#/log_in">Sign In</a></p>
                  <br>
                </div>
               

              </div>
            </div>

      </div>
    </div>
  </div>
 
</div>


<div id='parent_div_1'>
  <div class ='child_div_1'>
    <div class="container">
        <div class="row">
          

           <div class="col s11 m12 offset-m0">
      <div class="card">
        <div class="card-content">
         
          <form>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Email" id="email" type="text" class="validate" ng-model='loginUser.email' name="email">
                <label for="email" class="active"></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Password" id="password" type="text" class="validate" ng-model='loginUser.password' name="password">
                {{ error.message }}
                <label for="password" class="active"></label>
              </div>
               <p ng-repeat="error in logErrors">{{ error }}</p>
            </div>
            <input type="submit" class="btn" value="LOGIN" ng-click='login()'>

          </form>
         
        </div>
        <div class="card-action">
          <!-- <input type="submit" class="btn" value="LOGIN" ng-click='create_new_user()'> -->
          <p>Don't have an account? 
        <a href="#/sign_up">Sign Up</a></p>
        <br>
        </div>
        

      </div>
    </div>


 </div>
 </div>
 </div>
 </div>







  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">SmartPark is an app that provides the users with live updates on the
available parking spots in the area of their interest.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">About Us</a></li>
            <li><a class="white-text" href="#!">Sign Up</a></li>
            <li><a class="white-text" href="#!">Log In</a></li>
            <li><a class="white-text" href="#!">Download app</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Address</a></li>
            <li><a class="white-text" href="#!">Email</a></li>
            <li><a class="white-text" href="#!">Phone</a></li>
           
          </ul>
        </div>
      </div>
    </div>


    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">smartPark</a>
      </div>
    </div>



<!-- <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">

      <ul>
        <li id='logo'></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        
        <li><a href="#/">Home</a></li>
        <li><a href="#/sign_up">Sign Up</a></li>
        <li><a href="#/log_in">Log In</a></li>
        <li><a href="#/about">About Us</a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav> -->



  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>











