<nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container">

      <ul>
        <li id='logo'></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        
        <li><a href="#/">Home</a></li>
        <li><a href="#/sign_up">Sign Up</a></li>
        <li><a href="#/log_in">Log In</a></li>
        <li><a href="#/about">About Us</a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


<br><br><br><br>


<div id='parent_div_1'>
	<div class ='child_div_1'>
		<div class="container">
  			<div class="row">
    			<!-- <div class="col s11 m6 offset-m0">
	      			<div class="card">
	        			<div class="card-content">
	         				<h2>About Us</h2>
					        <p>Coding Sensei connects you with people and information to solve problems,inspire learning and influence the future of technology.
							It is a resource of tech interview questions from various companies.
							You can crawl through the questions by entering any keyword or technologies.
							The answers and solutions are supplied by the community of readers. You can add your own interview questions and also answer any questions. Moreover, you can like the answers posted by other users.
							</p>
	        			</div>
	       
			          	<div class='right-align'>
			        		<div class="card-action">
			          	 		<a href="#/index"  class="btn"  >GO BACK</a>
			          	</div>
			         
			        	</div>

	      			</div>
	    		</div> -->

	    		 <div class="col s11 m12 offset-m0">
      <div class="card">
        <div class="card-content">
         
          <form>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Email" id="email" type="text" class="validate" ng-model='loginUser.email' name="email">
                <label for="email" class="active"></label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Password" id="password" type="text" class="validate" ng-model='loginUser.password' name="password">
                {{ error.message }}
                <label for="password" class="active"></label>
              </div>
               <p ng-repeat="error in logErrors">{{ error }}</p>
            </div>
            <input type="submit" class="btn" value="LOGIN" ng-click='login()'>

          </form>
         
        </div>
        <div class="card-action">
          <!-- <input type="submit" class="btn" value="LOGIN" ng-click='create_new_user()'> -->
          <p>Don't have an account? 
        <a href="#/sign_up">Sign Up</a></p>
        <br>
        </div>
        

      </div>
    </div>