<nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container">
    	<ul>
    		<li id='logo'></li>
    	</ul>
      <ul class="right hide-on-med-and-down">
      	<li><a href="#/">Home</a></li>
      	<li><a href="#/about">About</a></li>
      	<li><a href="#/dashboard">Profile</a></li>
        <li><a href="#/spot/new">Rent out your spot</a></li>
        <li><a href="#/spots">Reserve Location</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- <h5 class='right-align'> <pre>{{dash_user}}   </pre>    </h5> -->
  <h5 class='right-align'> <pre>{{dash_user.f_name}}   </pre>    </h5>






<div class="container" >
  <div class="row">
      <div class="col s6 m6 offset-m0">
        <div class="card">
            <div class="card-content">
            <div id="1">
            <h4 >COMPLETE PAYMENT</h4> 
              
              <form>
              <br>
              Arriving on:
            <input  id="arriving_on"  type ="date" class="validate" ng-model='newRenter.arriving_on'  >
              <br>
              Departing on:
              <input  id="departing_on" type="date" class="validate" ng-model='newRenter.departing_on'>
              <!-- <br> -->
              <!-- Start date: {{spot.start_date | date}} -->
              <!-- <br> -->
              <!-- End date: {{spot.end_date | date}} -->
              <!-- <br> -->
              <!-- Available dates: {{dates }} -->
              <!-- <br> -->
              Listing: {{spot.street}}, {{spot.zip_code}}
              <br>
              Price: $6/hour {{price}}
              <br>

                Vehicle:  <br>
                 <input  id="type_of_car" type="text" class="validate" ng-model='newRenter.type_of_car'>
                               <div class="error">{{error.type_of_car}}</div>
              
                License Plate: <br>
                <!-- {{dash_user.license_plate}} -->
                <input  id="license_plate" type="text" class="validate" ng-model='newRenter.license_plate'>
                               <div class="error">{{error.license_plate}}</div>

              
                  PAYMENT DETAILS
                  <br>
                  <i class="small material-icons">credit_card</i>

                  <input placeholder="Card Number" id="card_number" type="text" class="validate" ng-model='newRenter.card_number'>
                  <input placeholder="Expiry" id="expiry" type="text" class="validate" ng-model='newRenter.expiry'>
                  <input placeholder="CVV" id="cvv" type="text" class="validate" ng-model='newRenter.cvv'>


                      Contact Number: <br>
                  <input  id="contact" type="text" class="validate" ng-model='newRenter.contact' >
                               <div class="error">{{error.contact}}</div>

                   <input type="submit"  value="Complete and Pay " ng-click='create_renter_by_id()'>

              </form>

              <!-- {{dates}} -->
          </div>

          <div class='left-align' id="2" style="display:none;">
            
          </div>

        </div> <!-- container -->
      </div> <!-- row -->
    </div> <!-- col s18 m20 offset-m0 -->
  </div> <!-- card -->
</div> <!-- card-content -->

<div class="small_height"></div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">park@Ease is an app that provides the users with live updates on the
available parking spots in the area of their interest.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
           <li><a class="white-text" href="#/about">About Us</a></li>
            <li><a class="white-text" href="#/dashboard">Profile</a></li>
            <li><a class="white-text" href="#/spot/new">Rent your spot</a></li>
            <li><a class="white-text" href="#/spots">Reserve Location</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#/">Home</a></li>
            <li><a class="white-text" href="#!">Email</a></li>
            <li><a class="white-text" href="#!">Phone</a></li>
           
          </ul>
        </div>
      </div>
    </div>


    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">park@ease</a>
      </div>
    </div>

  </footer>

