<nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container">
    	<ul>
    		<li id='logo'></li>
    	</ul>
      <ul class="right hide-on-med-and-down">
      	<li><a href="#/">Home</a></li>
      	<li><a href="#/about">About</a></li>
        <li><a href="#/dashboard">Profile</a></li>
        <li><a href="#/spot/new">Rent out your spot</a></li>
        <li><a href="#/spots">Reserve Location</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>



  <!-- <h3 class="right-align">  YOU HAVE SUCCESSFULLY BOOKED AND PAYED $ {{price}}</h3> -->