/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px)
  .container {
    width: 85%;
}
@media only screen and (min-width: 993px)
  .container {
    width: 70%;
}


#background1{
  background-image: url("/images/background1.jpg");
  
}
#background2{
  background-image: url("/images/background2.jpg");
  
}
#background3{
  background-image: url("/images/background3.jpg");
  
}

#background4{
  background-image: url("/images/background4.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}

.bookings{
border: 1px solid transparent;
width:300px;
height:100px;
margin-left: 460px;
word-wrap: break-word;
}
.height{
  height:1500px;
}
.small_height
{
  height:500px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}



p {
  line-height: 2rem;
}

.error {
	color:red;

}
.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

