<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>

<body>


<script>
		// initialize and setup facebook js sdk
		window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '488835401451569',
		      xfbml      : true,
		      version    : 'v2.5'
		    });
		    FB.getLoginStatus(function(response) {
		    	if (response.status === 'connected') {
		    		document.getElementById('status').innerHTML = 'We are connected.';
		    		document.getElementById('login').style.visibility = 'hidden';
		    	} else if (response.status === 'not_authorized') {
		    		document.getElementById('status').innerHTML = 'We are not logged in.'
		    	} else {
		    		document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
		    	}
		    });
		};
		(function(d, s, id){
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) {return;}
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		
		// login with facebook with extra permissions
		function login() {
			FB.login(function(response) {
				if (response.status === 'connected') {
		    		document.getElementById('status').innerHTML = 'We are connected.';
		    		document.getElementById('login').style.visibility = 'hidden';
		    	} else if (response.status === 'not_authorized') {
		    		document.getElementById('status').innerHTML = 'We are not logged in.'
		    	} else {
		    		document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
		    	}
			}, {scope: 'email'});
		}
		
		// getting basic user info
		function getInfo() {
			FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id'}, function(response) {
				document.getElementById('status').innerHTML = response.id;
			});
		}
	</script>

	<div id="status"></div>
	<button onclick="getInfo()">Get Info</button>
	<button onclick="login()" id="login">Login</button>





<h1>Welcome to smart Park</h1>

<h2>Register</h2>
<form action="/register" method="post">
	<label>First Name: <input type="text" name="f_name"></label> <br> <br>
	<label>Last Name: <input type="text" name="l_name"></label> <br> <br>
	<label>Email: <input type="text" name="email"></label> <br> <br>
	<label>Password: <input type="text" name="password"></label> <br> <br>
	<label>Contact Number: <input type="text" name="contact"></label> <br> <br>
	<label>Street: <input type="text" name="street"></label> <br> <br>
	<label>House Number: <input type="text" name="house_number"></label> <br> <br>
	<label>City/Town: <input type="text" name="city"></label> <br> <br>
	<label>State: <input type="text" name="state"></label> <br> <br>
	<label>Country: <input type="text" name="country"></label> <br> <br>
	<label>Zip Code: <input type="text" name="zip"></label> <br> <br>
	
	<input type="submit" name="submit">
</form>


<h3>LogIn</h3>

<form action='login' method='post'>
	<label>Email: <input type="text" name="email"></label> <br> <br>
	<label>Password: <input type="text" name="password"></label> <br> <br>
	<input type="submit" name="submit">
</form>




</body>
</html>