<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>

<body>
<h1>Welcome to smartApp</h1>

<h2>Register</h2>
<form action="/register" method="post">
	<label>Email: <input type="text" name="email"></label> <br> <br>
	<label>Password: <input type="text" name="password"></label> <br> <br>
	
	<input type="submit" name="submit">
</form>





</body>
</html>