<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>

<body>
<h1>Welcome to smart Park</h1>

<h2>Register</h2>
<form action="/register" method="post">
	<label>First Name: <input type="text" name="f_name"></label> <br> <br>
	<label>Last Name: <input type="text" name="l_name"></label> <br> <br>
	<label>User Name: <input type="text" name="u_name"></label> <br> <br>
	<label>Email: <input type="text" name="email"></label> <br> <br>
	<label>Password: <input type="text" name="password"></label> <br> <br>
	<label>Contact Number: <input type="text" name="contact"></label> <br> <br>
	<label>Street: <input type="text" name="street"></label> <br> <br>
	<label>House Number: <input type="text" name="house_number"></label> <br> <br>
	<label>City/Town: <input type="text" name="city"></label> <br> <br>
	<label>State: <input type="text" name="state"></label> <br> <br>
	<label>Country: <input type="text" name="country"></label> <br> <br>
	<label>Zip Code: <input type="text" name="zip"></label> <br> <br>
	
	<input type="submit" name="submit">
</form>


<h3>LogIn</h3>

<form action='login' method='post'>
	<label>User Name: <input type="text" name="u_name"></label> <br> <br>
	<label>Password: <input type="text" name="password"></label> <br> <br>
	<input type="submit" name="submit">
</form>




</body>
</html>