<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>

<body>
<h1>Welcome to smartApp</h1>

<form action="/register" method="post">
	<label>Email: <input type="text" name="email"></label>
	<label>Password: <input type="text" name="password"></label>
	
	<input type="submit" name="submit">
</form>




</body>
</html>